<a class= 'button' href=<%= new_student_path %>>Create New Student</a>
<br>
<a class= 'button' href=<%= students_path %>>All Students</a>
<br>

<h2>Edit <%= @student.name %> here!</h2>

<%= render partial: "form" %>
